@model YangZhiChang
@{
    Layout = "~/Views/Shared/_AjaxFormPartialLayout.cshtml";
}
@section Form
{
    <tr class="noborder">
        <td><em>污染源编码:</em></td>
        <td class="vatop rowform">
            <input type="text"  class="txt" name="MainCode" value="@Model.MainCode">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr class="noborder">
        <td><em>是否远离水源:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="CuoShi" value="@Model.CuoShi">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
}


