@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><span>@ViewBag.Title</span></div>
    </div>
    <div class="fixed-empty"></div>
    @RenderBody()
</div>
