@model IPagedList<Emergencylibrary>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "知识库管理";
}
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><span>@ViewBag.Title</span></div>
    </div>
    <div class="fixed-empty"></div>

    <form action="@(ViewBag.SearchAction ?? "Index")" data-ajax="true" data-ajax-mode="replace" data-ajax-success="renderPager" data-ajax-update="#listContainer" id="searchForm">
        <table class="tb-type1 noborder search">
            <tbody>
                <tr>
                    <td><a href="javascript:showDataFormModalDialogWithCallback('/ScheduleArea/Emergencylibrary/FormForAdd','添加应急预案',buttonClick)">添加应急预案</a> </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div id="listContainer">
        @Html.Partial("_Items", (object)Model)
    </div>
</div>
@section Scripts
{
    <script src="~/Assets/Js/Core/PureJsPagination.js"></script>
    <script src="~/Assets/Js/Core/PureJsPaginationInitializer.js"></script>
    <script>
        function buttonClick() {

            $.ajax({
                url: '/ScheduleArea/Emergencylibrary/AddEntity',
                type: 'POST',
                dataType: 'json',
                data: { 'Title': $("input[name='Title']", window.parent.document).val(), 'Content': parent.htmlEncode(parent.UM.getEditor('myEditor').getContent()), 'tempAttachmentFile': $("input[name='tempAttachmentFile']", window.parent.document).val(), 'tempAttachmentName': $("input[name='tempAttachmentName']", window.parent.document).val() },
                success: function(e) {
                    showSubmitResult(e);
                },
                error: function(e) {
                    showSubmitResult(e);
                }
            });
            return false;
        }
    </script>
}




