
@model IndexType
@{
    Layout = "~/Views/Shared/_AjaxFormPartialLayout.cshtml";
}
@section Form
{
    <tr class="noborder">
        <td><em>编号:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt"  name="Code" value="@Model.Code">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr>
        <td><em>监测指标:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="Name" value="@Model.Name">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr>
        <td><em>环境监测类型:</em></td>
        <td class="vatop rowform">
            @Html.DropDownList("HJTypeCode", (List<SelectListItem>)ViewBag.DropDownHJ)
        </td>
        <td class='fontcolor'>*</td>
    </tr>

    <tr id="testbeizhu">
        <td><em>说明: </em></td>
        <td colspan="2" class="vatop rowform"><textarea rows="3" class="tarea" name="Remarks">@Model.Remarks</textarea></td>
    </tr>

}
