<div class="caseInfo">
    <div data-dojo-attach-point="caseInfoContentNode" class="caseInfoContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox"></span>
        <span data-dojo-attach-point="caseInfoIconNode" class="caseInfoIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">案件</span>
    </div>
    <div data-dojo-attach-point="caseInfoOptionsNode" class="caseInfoOptions"></div>
</div>