<div class="companyPollution ">
    <div data-dojo-attach-point="CompanyPollutionContentNode" class="companyPollutionContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox"></span>
        <span data-dojo-attach-point="companyPollutionIconNode" class="companyPollutionIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">排污企业</span>
    </div>
</div>