<div class="dataTemplate" style="top:0px;display:none;" name="dataTemplate">
    <span data-dojo-attach-point="dataTemplateTitleNode" class="dataTemplateTitle" name="dataTemplateTitle">
        <span data-dojo-attach-point="dataTemplateTitleTextNode" class="dataTemplateTitleText"></span>
        <span data-dojo-attach-point="deleteIconNode" class="deleteIcon"></span>
        <span data-dojo-attach-point="shrinkIconNode" class="shrinkIcon"></span>
        <span data-dojo-attach-point="ListIconNode" class="ListIcon"></span>
        <span data-dojo-attach-point="TabIconNode" class="TabIcon"></span>
    </span>
    <div data-dojo-attach-point="dataContentNode">
        <div data-dojo-attach-point="dataTemplateContentNode" class="dataTemplateContent"></div>
        <div data-dojo-attach-point="dataTemplateListNode" class="dataTemplateList">
            <span data-dojo-attach-point="tableTitleNode" class="tableTitle"></span>
            <div data-dojo-attach-point="tableContentNode" class="tableContent"></div>
        </div>  
    </div>
    
</div>