<div class="dirtyAnalyze">
    <span data-dojo-attach-point="dirtyAnalyzeTextNode" class="dirtyAnalyzeText">污染分析</span>
    <div data-dojo-attach-point="dirtyAnalyzePaneNode" class="dirtyAnalyzePane">
        <div data-dojo-attach-point="drawingPaneNode" class="drawingPane">
            <span data-dojo-attach-point="dRectangleNode" class="dRectangle">框选</span>
            <span data-dojo-attach-point="dPolygonNode" class="dPolygon">多边选</span>
            <span data-dojo-attach-point="dCircleNode" class="dCircle">圈选</span>
        </div>
    </div>
</div>