<div class="gController ">
    <div data-dojo-attach-point="gControllerContentNode" class="gControllerContent">
        <span data-dojo-attach-point ="checkBoxNode" class="checkBox" id="g_checkBox"></span>
        <span data-dojo-attach-point="gControllerIconNode" class="gControllerIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point ="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">国控监测</span>
    </div>
    <!--<div id="g_table"></div>-->
    <div data-dojo-attach-point="indexListNode" class="indexList" id="as">
        <span data-dojo-attach-point="aqiNode" class="indexRow">AQI</span>
        <span data-dojo-attach-point="pm25Node" class="indexRow">PM2.5</span>
        <span data-dojo-attach-point="pm10Node" class="indexRow">PM10</span>
        <span data-dojo-attach-point="so2Node" class="indexRow">SO2</span>
        <span data-dojo-attach-point="no2Node" class="indexRow">NO2</span>
        <span data-dojo-attach-point="coNode" class="indexRow">CO</span>
        <span data-dojo-attach-point="o3Node" class="indexRow">O3</span>
    </div>
</div>