<div class="indexList">
    <div data-dojo-attach-point="indexListContentNode" class="indexListContent">
       <span data-dojo-attach-point="aqiNode" class="row">AQI</span>
       <span data-dojo-attach-point="pm25Node" class="row">PM2.5</span>
       <span data-dojo-attach-point="pm10Node" class="row">PM10</span>
       <span data-dojo-attach-point="so2Node" class="row">SO2</span>
       <span data-dojo-attach-point="no2Node" class="row">NO2</span>
       <span data-dojo-attach-point="coNode" class="row">CO</span>
       <span data-dojo-attach-point="o3Node" class="row">O3</span>
    </div>
</div>
