<div data-dojo-attach-point="layerControlNode" class="layerControl">
    <div data-dojo-attach-point="gridContentNode" class="gridContent">
        <span data-dojo-attach-point="tuceng_topsNode" class="tuceng_tops">图层控制<em data-dojo-attach-point="tuhsNode" class="tuhs"></em></span>
        <span data-dojo-attach-point="firstGridNode" class="firstGrid"></span>
        <span data-dojo-attach-point="secondGridNode" class="secondGrid"></span>
        <span data-dojo-attach-point="thirdGridNode" class="thirdGrid"></span>
        <span data-dojo-attach-point="shadowGraphNode" class=""></span>
    </div>
</div>