<div>
    <div data-dojo-attach-point="menuMonitoringPointContentNode" class="menuMonitoringPointContent">
        <p id="pppp" class="ycyy" onclick="airP()"></p>
        <div data-dojo-attach-point="ctrlMonitoringPointNode" class="ctrlMonitoringPoint">
            <span data-dojo-attach-point="gControllerNode" class="gController"></span>
            <span data-dojo-attach-point="wControllerNode" class="wController"></span>
            <!--<span data-dojo-attach-point="sControllerNode" class="sController "></span>-->
        </div>
        <p id="ppppp" class="ycyy"></p>
        <div data-dojo-attach-point="ctr2MonitoringPointNode" class="ctr2MonitoringPoint">
            <span data-dojo-attach-point="yangchenNode" class="yangchen"></span>
            <span data-dojo-attach-point="youyanNode" class="youyan"></span>
        </div>
    </div>
</div>
