<div class="patrolChildren">
    <div data-dojo-attach-point="patrolChildrenContentNode" class="patrolChildrenContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox"></span>
        <span data-dojo-attach-point="patrolChildrenIconNode" class="patrolChildrenIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">巡查员</span>
    </div>
</div>