<div>
    <div data-dojo-attach-point="menuPatrolContentNode" class="menuPatrolContent">
        <div data-dojo-attach-point="ctrlPatrolNode" class="ctrlPatrol">
            <span data-dojo-attach-point="patrolChildrenNode" class="patrolChildren"></span>
        </div>
        <div data-dojo-attach-point="selectContentNode" class="selectContent" style="display: none;height: 150px">
            <div data-dojo-attach-point="patrolCheckNode"></div>
            <div data-dojo-attach-point="departmentSHNode" class="department_tit"></div>
            <div data-dojo-attach-point="departmentGridNode" class=""></div>
            <div data-dojo-attach-point="departmentPersonNode" class=""></div>
            <div data-dojo-attach-point="departmentBtnNode" class=""></div>
        </div>
    </div>
</div>