<div  class="plottingData">
    <span data-dojo-attach-point="plottingDataControlNode" class="plottingDataControl" ></span>
    <span data-dojo-attach-point="labXNode" class="labX">面积:</span>
    <span data-dojo-attach-point="txtXNode" class="txtX"></span>
    <span data-dojo-attach-point="labYNode" class="labY">长度:</span>
    <span data-dojo-attach-point="txtYNode" class="txtY"></span>
    <span data-dojo-attach-point="labRNode" class="labY">半径:</span>
    <span data-dojo-attach-point="txtRNode" class="txtY"></span>
</div>
