<div>
    <div data-dojo-attach-point="menuPollutionSourcesContentNode" class="menuPollutionSourcesContent">
        <span data-dojo-attach-point="dirtyAnalyzeNode" class="dirtyAnalyze"></span>
        <div data-dojo-attach-point="ctrpollutionSourcesNode" class="ctrpollutionSources" id="wulan_tab">
            <span data-dojo-attach-point="barbecuePollutionNode" class="barbecuePollution "></span>
            <span data-dojo-attach-point="coalPollutionNode" class="coalPollution "></span>
            <span data-dojo-attach-point="sewagePollutionNode" class="sewagePollution "></span>
            <span data-dojo-attach-point="boilerPollutionNode" class="boilerPollution "></span>
            <span data-dojo-attach-point="sitePollutionNode" class="sitePollution "></span>
            <span data-dojo-attach-point="farmPollutionNode" class="farmPollution "></span>
            <span data-dojo-attach-point="roadPollutionNode" class="roadPollution "></span>
            <span data-dojo-attach-point="exposedLandPollutionNode" class="exposedLandPollution "></span>
            <span data-dojo-attach-point="companyPollutionNode" class="companyPollution "></span>
            <span data-dojo-attach-point="carPollutionNode" class="carPollution "></span>
        </div>
    </div>
</div>