<div class="pollutionList">
    <div data-dojo-attach-point="titleWrapperNode" class="titleWrapper">
        <span data-dojo-attach-point="iconNode" class="icon"></span>
        <span data-dojo-attach-point="titleContentNode" class="titleContent">${title}</span>
        <span data-dojo-attach-point="toggleIconNode" class="toggleIcon"></span>
    </div>
    <div data-dojo-attach-point="pSelectNode" class="pSelect"></div>
    <div data-dojo-attach-point="pSearchNode" class="pSearch">
        <span data-dojo-attach-point="pTextBoxNode" class="pTextBox"></span>
        <span data-dojo-attach-point="pButtonNode" class="pButton"></span>
    </div>
    <div data-dojo-attach-point="pContentNode" class="pContent"></div>
</div>