<div class="searchPollution" id="searchPollution">
    <div data-dojo-attach-point="searchGroupNode" class="searchGroup">
        <span data-dojo-attach-point="menuButtonNode" class="menuButton"></span>
        <span data-dojo-attach-point="searchInputNode" class="searchInput"></span>
        <span data-dojo-attach-point="searchButtonNode" class="searchButton"></span>
    </div>
    <div data-dojo-attach-point="searchLayerPaneNode" class="searchLayerPane">
        <div data-dojo-attach-point="searchBarbecueNode" class="searchRow">餐饮</div>
        <div data-dojo-attach-point="searchCoalNode" class="searchRow">煤经销点</div>
        <div data-dojo-attach-point="searchSewageNode" class="searchRow">污水排放</div>
        <div data-dojo-attach-point="searchBoilerNode" class="searchRow">锅炉</div>
        <div data-dojo-attach-point="searchSiteNode" class="searchRow">建筑工地</div>
        <div data-dojo-attach-point="searchFarmNode" class="searchRow">养殖场</div>
        <div data-dojo-attach-point="searchCarNode" class="searchRow">道路</div>
        <div data-dojo-attach-point="searchExposedLandNode" class="searchRow">料土堆</div>
        <div data-dojo-attach-point="searchTttNode" class="searchRow">污染企业</div>
    </div>
</div>