<div class="searchPart" name="searchPart">
    <span data-dojo-attach-point="searchPartTitleNode" class="searchPartTitle" name="searchPartTitle">
        <span data-dojo-attach-point="searchPartTitleTextNode" class="searchPartTitleText"></span>
        <span data-dojo-attach-point="deleteIconNode" class="deleteIcon"></span>
         <span data-dojo-attach-point="shrinkIconNode" class="shrinkIcon"></span>
        <!--<span data-dojo-attach-point="ListIconNode" class="ListIcon"></span>-->
        <!--<span data-dojo-attach-point="TabIconNode" class="TabIcon"></span>-->
    </span>
    <div data-dojo-attach-point="searchPartConNode" class="searchPartCon">
        <div data-dojo-attach-point="tabContentNode" class="tabContent"></div>
        <div data-dojo-attach-point="searchPartContentNode" class="searchPartContent" id="searchPartContent"></div>
    </div>
   <!-- <div data-dojo-attach-point="searchPartListNode" class="searchPartList" style="display:none">
        <span data-dojo-attach-point="tableTitleNode" class="tableTitle"></span>
        <div data-dojo-attach-point="tableContentNode" class="tableContent"></div>
    </div>  -->
</div>