<div class="sewagePollution ">
    <div data-dojo-attach-point="sewagePollutionContentNode" class="sewagePollutionContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox"></span>
        <span data-dojo-attach-point="sewagePollutionIconNode" class="sewagePollutionIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">污水排放口</span>
    </div>
</div>