<div class="shadowGraph">
    <div data-dojo-attach-point="shadowGraphContentNode" class="shadowGraphContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox" style="margin-left:36px;"></span>
        <span data-dojo-attach-point="shadowGraphIconNode" class="shadowGraphIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">影像图</span>
        <!--<span data-dojo-attach-point="opacityNode" class="opacity"></span>-->
    </div>
</div>