<div class="taskMessage" name="taskMessage">
    <span data-dojo-attach-point="taskMessageTitleNode" class="taskMessageTitle" name="taskMessageTitle">
        <span data-dojo-attach-point="taskMessageTitleTextNode" class="taskMessageTitleText"></span>
        <span data-dojo-attach-point="deleteIconNode" class="deleteIcon"></span>
         <span data-dojo-attach-point="shrinkIconNode" class="shrinkIcon"></span>
        <!--<span data-dojo-attach-point="ListIconNode" class="ListIcon"></span>-->
        <!--<span data-dojo-attach-point="TabIconNode" class="TabIcon"></span>-->
    </span>
    <div data-dojo-attach-point="taskMessageConNode" class="taskMessageCon">
        <div data-dojo-attach-point="tabContentNode">
            <span data-dojo-attach-point="nowNode" class="now">当前消息</span>
            <span data-dojo-attach-point="historyNode" class="history">历史消息</span>
        </div>
        <div data-dojo-attach-point="taskMessageContentNode" class="taskMessageContent"></div>
    </div>
    <div data-dojo-attach-point="taskMessageListNode" class="taskMessageList" style="display:none">
        <span data-dojo-attach-point="tableTitleNode" class="tableTitle"></span>
        <div data-dojo-attach-point="tableContentNode" class="tableContent"></div>
    </div>  
</div>