<div class="toolBox">
    <div data-dojo-attach-point="toolBoxBtnNode" class="toolBoxBtn"></div>
    <div data-dojo-attach-point="toolBoxPaneNode" class="toolBoxPane">
        <div data-dojo-attach-point="drawingPaneNode" class="drawingPane">
            <span data-dojo-attach-point="dPolylineNode" class="dPolyline"></span>
            <!--<span data-dojo-attach-point="dFreehandPolylineNode" class="dFreehandPolyline"></span>-->
            <span data-dojo-attach-point="dRectangleNode" class="dRectangle"></span>
            <span data-dojo-attach-point="dPolygonNode" class="dPolygon"></span>
            <span data-dojo-attach-point="dCircleNode" class="dCircle"></span>
        </div>
        <div data-dojo-attach-point="printPaneNode" class="printPane"></div>
    </div>
    <div data-dojo-attach-point="plottingDataNode" class="plottingData"></div>
</div>