<div class="videoPollution ">
    <div data-dojo-attach-point="videoPollutionContentNode" class="videoPollutionContent">
        <span data-dojo-attach-point="checkBoxNode" class="checkBox"></span>
        <span data-dojo-attach-point="videoPollutionIconNode" class="videoPollutionIcon"
              data-dojo-attach-event="ondijitclick:select"></span>
        <span data-dojo-attach-point="labelNode" class="label"
              data-dojo-attach-event="ondijitclick:select">单路视频</span>
    </div>
</div>