<div class="wCtrlInfo">
    <div data-dojo-attach-point="borderNode" class="border">
        <div data-dojo-attach-point="wCtrlTitleNode" class="wCtrlTitle">
            <span data-dojo-attach-point="wCtrlTitleContentNode" class="wCtrlTitleContent">
                ${title}
            </span>
            <span data-dojo-attach-point="wCtrlCloseIconNode" class="wCtrlCloseIcon"
                  data-dojo-attach-event="ondijitclick:close"></span>
        </div>
        <div data-dojo-attach-point="wCtrlInfoGridNode" class="wCtrlInfoGrid"></div>
        <div data-dojo-attach-point="wCtrlInfoChartNode" class="wCtrlInfoChart">
            <div data-dojo-attach-point="chartLabelNode" class="chartLabel"></div>
            <div data-dojo-attach-point="chartContentNode" id="chartContent" class="chartContent" ></div>
        </div>
    </div>
</div>