.light .boilerPollution {
    height: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.light .boilerPollution .boilerPollutionContent .boilerPollutionIcon{
    background-image: url("../../assets/images/boiler.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.light .boilerPollution .boilerPollutionContent .label{
    cursor: pointer;
    vertical-align: middle;
}
#PollutionSourcesTable3 .a0{
	width:170px !important;
}
#PollutionSourcesTable3 .a1{
	width:100px !important;
}
#PollutionSourcesTable3 .a2{
	width:120px !important;
}