.light .carPollution {
    /*width: 100%;*/
    /*height: auto;
    margin-top: 36px;
    padding-left: 15px;
    position: absolute;
    z-index: 50;*/
}
.light .carPollution .carPollutionContent .carPollutionIcon {
    background-image: url("../../assets/images/car.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.light .carPollution .carPollutionContent .label{
    cursor: pointer;
    vertical-align: middle;
}
#PollutionSourcesTable9 .a0{
	width:150px !important;
}
#PollutionSourcesTable9 .a1{
	width:100px !important;
}
#PollutionSourcesTable9 .a2{
	width:140px !important;
}