.caseInfo {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.light .caseInfo .caseInfoContent{
    margin-left: 15px;
}
.light .caseInfo .caseInfoContent .caseInfoIcon{
    background-image: url("../../assets/images/event.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.light .caseInfo .dijitDialogPaneContent{
    padding:0;
}
.light .caseInfo .caseInfoContent .label{
    cursor: pointer;
    vertical-align: middle;
}
	.anniu{
		width: 190px;
		position: absolute;
		z-index: 5;
		/*left: 501px;*/
		bottom: 0px;
        padding:0 auto;
	}
	
	.anniu span{
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		float: left;
		display: inline-block;
		border: 1px solid black;
	}
	 .aa{
		background: #0899ff;
        color:white;
	}
     .page{
         overflow:hidden;
         display:block;
     }
     .pageNum{
         width:20px;
         height:20px;
         border:1px solid black;
         text-align:center;
         line-height:20px;
         float:left;
         margin:0 1px;
     }
	 /*标签页最外层的样式*/
.pageIndexP{
    overflow:hidden ;
	 margin: 10px 0 0 40px;
     font-size:13px;
}
/*每一个标签页共同的样式*/
.pageIndex {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #bbbbbb;
    text-align: center;
    line-height: 20px;
    display: none;
    cursor: pointer;
        margin: 0 1px;
}
/*当前选中标签页的样式*/
.nowPage{
    background: #c3c3c3;
}
/*上一页下一页的样式*/
.upAndDownPage{
    float: left;
    width: 50px;
    height: 20px;
    border: 1px solid #bbbbbb;
    text-align: center;
    line-height: 20px;
    display: block;
    cursor: pointer;
	font-size: 12px;
	    margin: 0 1px;
}

/*内容展示区样式*/
/*（table的类名）*/
.pageContent{

}
/*（table中thead的类名）*/
.pageContent thead{

}
/*tbody内的样式*/
.pageContent tbody tr:hover{
	background:red;
}
.pageContent tbody tr:nth-child(2n){
    background: #f0f7ff
;
}
.pageContent tbody tr:nth-child(2n-1){
    background: #fcfcfc;
}

/*分别代表每一属性的对应的样式，a1代表第一个属性，一次类推*/
.pageContent .a0{
    width: 100px;
}
.pageContent .a1{
    width: 100px;
}
.pageContent .a2{
    width: 100px;
}