.light .search{
    
}
.light .searchPollution .searchGroup{
    margin: 0;
    padding: 0;
}
.light .searchPollution .searchGroup .menuButton{
    border:1px solid #454545;
    border-radius: 4px 0 0 4px;
    width:30px;
    height: 30px;
    float:left;
    background-color: white;
    background-image: url("../../assets/images/pointerbottom.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 8px;
}
.light .searchPollution .searchGroup .searchInput{
    /*background-color: white;
    padding-top: 3px;
    border:1px solid #454545;
    border-left:0;
    border-right:0;
    width:200px;
    height: 30px;
    font-size: 15px;
    font-family: "Microsoft YaHei";
    vertical-align: middle;*/
}
.light .searchPollution .searchGroup .searchButton{
    border:1px solid #454545;
    border-radius: 0 4px 4px 0;
    width:30px;
    height: 30px;
    float:right;
    background-color: white;
    background-image: url("../../assets/images/search.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.light .searchPollution .searchLayerPane{
    background-color: white;
    border:1px solid #454545;
    border-radius: 4px;
    display: none;
    width:120px;
    max-height: 183px;
    overflow-y: auto;
    margin:0;
    padding:0;
}
.light .searchPollution .searchLayerPane .searchRow{
    cursor: pointer;
    padding: 0 0 0 10px;
    margin:3px 0 0;
    vertical-align: middle;
    font-size: 15px;
    font-family: "Microsoft YaHei";
}
.light .searchPollution .searchGroup .menuButton:hover,
.light .searchPollution .searchGroup .searchButton:hover,
.light .searchPollution .searchLayerPane .searchRow:hover{
    background-color: #dddddd;
    cursor:pointer;
}