.light .switching{
    white-space: nowrap;
    width: 30px;
    height: 30px;
    float: left;
    /*margin: 2px;*/
    cursor: pointer;
}
.light .switching .icon{
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline-block;
    margin:0px;
}
.light .switching .outLine{
    position: absolute;
    /*border:2px solid #0899ff;*/
    width: 24px !important;
    height: 22px !important;
    display: inline-block;
    margin: 0px;
}