.taskMessage{
	 background:white;
    position: absolute;
    left: 60px;
    z-index: 50;
    border:1px solid #91c0e8;
	width:400px;
	opacity:0.9
	top:50px;
	display:none;
}
.taskMessageTitle{
    height:34px;
    background-color:#0899ff;
    line-height:34px;
    color:white;
    font-weight:bold;
    cursor:pointer;
	overflow: hidden;
	display:block;
}
.taskMessageTitleText{
	margin-left:12px;
	float:left;
}
.deleteIcon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("../../assets/images/delete.png") 8px no-repeat;
	float:right;
}
.shrinkIcon{
	 width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("../../assets/images/tucengshou.png") 8px no-repeat;
	float:right;
}
.TabIcon{
	 width: 30px;
    height: 30px;
    margin-right: 3px;
    background: url("../../assets/images/Tab1.png") 8px no-repeat;
	float:right;
}
.ListIcon{
	 width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url("../../assets/images/List.png") 8px no-repeat;
	float:right;
}
.taskMessageContent{
	height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 13px;
    color: #454545;
    background-color: #ffffff;
}
.tableTitle{
    line-height: 38px;
    background: lightblue;
	cursor:pointer;
	font-size:12px;
	overflow:hidden;
}
#taskMessageContent{
    width:390px;
    margin:15px auto;
    cursor:pointer;
}
#taskMessageContent td,#taskMessageContent th{
    text-align:center;
    font-size:12px;
    
}
#taskMessageContent thead{
    font-size:14px;
	background:#eeeeee;
}
#taskMessageContent thead tr{
	height:30px;
    font-size:14px;
	background:#f0f7ff
;
}

#taskMessageContent .a0{
    width:60px;
	height:35px;
}
#taskMessageContent .a1{
    width:220px;
	height:35px;
}
#taskMessageContent .a2{
    width:110px;
	height:35px;
}
#taskMessageContent .a3{
    width:130px;
	height:35px;
}
.now{
	font-size:12px;
	height: 30px;
    width: 80px;
    background: lightblue;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
	margin-left:80px;
}
.history{
	font-size:12px;
	height: 30px;
    width: 80px;
    background: lightblue;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}