.light .thirdGrid{
    height: 100%;
    width: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin-bottom:5px;
}
.light .thirdGrid .thirdGridContent .thirdGridIcon{
    background-image: url("../../assets/images/thirdGrid.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
    /*background-size: 22px 22px;*/
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.light .thirdGrid .thirdGridContent .label{
    cursor: pointer;
    vertical-align: middle;
}