.light .toolBox{
    display:inline-flex;
    left:80px !important;
    top:23px !important;
}
/*.light .toolBox .toolBoxBtn{
    width:30px;
    height:30px;
    border:1px solid #454545;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url("../../assets/images/toolbox_close.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    display:none;
}*/
/*.light .toolBox .toolBoxBtn:hover{
    background-color:#dddddd;
    padding: 2px;
    cursor: pointer;
}*/
.light .toolBox .toolBoxPane{
    padding:0;
    margin:0;
    height:30px;
    border: 1px solid #454545;
    border-radius: 4px;
    background-color: #ffffff;
    display: block;
    margin-left: 2px;
    overflow: hidden;

}
.light .toolBox .toolBoxPane .drawingPane{
    padding:0;
    display: inline-block;
    border-right:2px solid darkgray;
    border-radius: 4px 0 0 4px;
    height:30px;
    overflow: hidden;
}
.light .toolBox .toolBoxPane .drawingPane .dPolyline,
/*.light .toolBox .toolBoxPane .drawingPane .dFreehandPolyline,*/
.light .toolBox .toolBoxPane .drawingPane .dRectangle,
.light .toolBox .toolBoxPane .drawingPane .dPolygon,
.light .toolBox .toolBoxPane .drawingPane .dCircle{
    display: inline-block;
    height:26px;
    width:26px;
    padding:0;
    margin:3px 0 0 0;
    cursor: pointer;
    overflow: hidden;
    
}
.light .toolBox .toolBoxPane .drawingPane .dRectangle{
    background:url("../../assets/images/juxing.png") 0px 1px no-repeat;
}
.light .toolBox .toolBoxPane .drawingPane .dPolygon{
    background:url("../../assets/images/duobian.png") 0px 1px no-repeat;
}
.light .toolBox .toolBoxPane .drawingPane .dPolyline{
    margin-left:5px;
    background:url("../../assets/images/zhexian.png") 0px 1px no-repeat;
}
.light .toolBox .toolBoxPane .drawingPane .dCircle{
    margin-right:5px;
    background:url("../../assets/images/suiyuan.png") 0px 1px no-repeat;
}
.light .toolBox .toolBoxPane .printPane{
   display: inline-block;
    height: 28px;
    width: 28px;
    position: relative;
    top: -2px;
    left: -2px;
    text-align: center;
    cursor: pointer;
     background:url("../../assets/images/dayin.png") 4px 7px no-repeat;
}
.light .toolBox .toolBoxPane .drawingPane .dPolyline:hover{
    background-image:url("../../assets/images/zhexiano.png")
}
/*.light .toolBox .toolBoxPane .drawingPane .dFreehandPolyline:hover,*/
.light .toolBox .toolBoxPane .drawingPane .dRectangle:hover{
    background-image:url("../../assets/images/juxingo.png")
}
.light .toolBox .toolBoxPane .drawingPane .dPolygon:hover{
    background-image:url("../../assets/images/duobiano.png")
}
.light .toolBox .toolBoxPane .drawingPane .dCircle:hover{
    background:url("../../assets/images/suiyuano.png") 0px 1px no-repeat;
    /*background-color:red;*/
}
.light .toolBox .toolBoxPane .printPane:hover{
    background-color: #dddddd;
    /*margin-top:4px;*/
}