
.light .wController .wControllerContent .wControllerIcon{
    background-image: url("../../assets/images/WController_green.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
