@model IPagedList<ControlLevel>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

@section Head
{
    <th>编号</th>
    <th>名称</th>
    <th>说明</th>
    <th class="align-center">操作</th>
}

@section Items
{

    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.Code</td>
            <td>@item.CodeName</td>
            <td>@item.Remarks</td>
            <td class="align-center">
                <a class="edit" href="javascript:showDataFormModalDialog('/BasicDataArea/ControlLevel/FormForUpdateVarchar?Id=@item.Id&t=@(DateTime.Now.Millisecond)','编辑监测点')">编辑</a> |
                <a class="edit" href="javascript:confirmDelete('/BasicDataArea/ControlLevel/RemoveVarChar','Id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
    }
}




