@model SheQiCompany
@{
    Layout = "~/Views/Shared/_AjaxFormPartialLayout.cshtml";
}
@section Form
{
    <tr class="noborder">
        <td><em>污染源编码:</em></td>
        <td class="vatop rowform">
            <input type="text"  class="txt" name="MainCode" value="@Model.MainCode">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr class="noborder">
        <td><em>工业废气排放量:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="GongYeCount" value="@Model.GongYeCount">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr class="noborder">
        <td><em>废气治理设施数:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="ZhiLiCount" value="@Model.ZhiLiCount">
        </td>
        <td></td>
    </tr>
}


