@model IPagedList<SheQiCompany>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

@section Head
{
    <th>污染源编码</th>
    <th>污染源名称</th>
    <th>工业废气排放量 </th>
    <th>废气治理设施数 </th>
    <th class="align-center">操作</th>
}

@section Items
{

    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.MainCode</td>
            <td>@item.PollutionSourceName</td>
            <td>@item.GongYeCount</td>
            <td>@item.ZhiLiCount</td>
            <td class="align-center">
                <a class="edit" href="javascript:showDataFormModalDialog('/BasicDataArea/SheQiCompany/FormForUpdate?Id=@item.Id','编辑')">编辑</a>|
                <a class="edit" href="javascript:confirmDelete('/BasicDataArea/SheQiCompany/Remove','Id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
    }
}



