@{
    ViewBag.Title = "欢迎";
}


<h1>欢迎使用</h1>

@section Styles
{
    <style type="text/css">
        h1 {
            position: absolute;
            width: 100px;
            height: 50px;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -25px;
        }
    </style>
}
