@model IPagedList<Status>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "状态管理";
}
@section SearchCondition
{
    <tr>
        <th>
            <label>编码</label>
        </th>
        <td>
            <input type="text" name="Code" class="txt" />
        </td>
        <th>
            <label>名称</label>
        </th>
        <td>
            <input type="text" name="Name" class="txt" />
        </td>
        <td>
            <input type="submit" class="btn-search tooltip" value="查询" />
        </td>
        <td><a href="javascript:showDataFormModalDialog('/BasicDataArea/Status/FormForAdd','添加状态')">添加状态</a> </td>
    </tr>
}






