@using BasicUPMS.Models.Core
@model User
@{
    Layout = "~/Views/Shared/_FormPageLayout.cshtml";
    ViewBag.Title = "修改密码";
}
@section Form
{
@if (SessionContext.Principal.RoleId == UPMSConfig.SystemRole)
    {
        <tr>
            <td>系统管理员不允许修改密码</td>
        </tr>
    }
    else
    {
        <tr>
            <td><em class="validation">旧 密 码:</em></td>
            <td class="vatop rowform"><input type="password" name="oldPassword" class="txt"></td>
            <td style="width:800px"></td>
        </tr>
        <tr>
            <td><em class="validation">密　　码:</em></td>
            <td class="vatop rowform"><input type="password" name="newPassword" class="txt"></td>
            <td></td>
        </tr>
        <tr>
            <td><em class="validation">确认密码:</em></td>
            <td class="vatop rowform"><input type="password" class="txt" name="secPassword"></td>
            <td></td>
        </tr>
        <tr>
            <td><em class="validation"></em></td>
            <td class="vatop rowform">@Html.ValidationSummary()</td>
            <td></td>
        </tr>
        <tr>
            <td >
                <input type="submit" class="btn" value="提交" />
            </td>
        </tr>
    }
}
