@model OwnerShip
@{
    Layout = "~/Views/Shared/_AjaxFormPartialLayout.cshtml";
}
@section Form
{
    <tr class="noborder">
        <td><em>编号:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt"  name="Code" value="@Model.Code">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr>
        <td><em>名称:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="CodeName" value="@Model.CodeName">
        </td>
        <td class='fontcolor'>*</td>
    </tr>
    <tr>
        <td><em>说明: </em></td>
        <td colspan="2" class="vatop rowform"><textarea rows="3" class="tarea" name="Remarks">@Model.Remarks</textarea></td>
    </tr>

}