@model IPagedList<CaseSource>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "案件来源管理";
}
@section SearchCondition
{
    <tr>
        <th>
            <label>编号</label>
        </th>
        <td>
            <input type="text" name="Code" class="txt" />
        </td>
        <td>
            <input type="submit" class="btn-search tooltip" value="查询" />
        </td>
        <td><a href="javascript:showDataFormModalDialog('/BasicDataArea/CaseSource/FormForAdd','添加案件来源')">添加案件来源</a> </td>
    </tr>
}
