@using BasicUPMS.Areas.BasicDataArea.Models
@model IPagedList<CameraIndexModel>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "视频监控点管理";
}
@section SearchCondition
{
    <tr>
        <th>
            <label>摄像头资源名称</label>
        </th>
        <td>
            <input type="text" name="Name" class="txt" />
        </td>
        <td>
            <input type="submit" class="btn-search tooltip" value="查询" />
        </td>
        <td><a href="javascript:showDataFormModalDialog('/BasicDataArea/Camera/FormForAdd','添加视频监控点')">添加视频监控点</a> </td>
    </tr>
}