@model IPagedList<FanDian>
@{
    Layout = "~/Views/Shared/_ListPageLayout.cshtml";
    ViewBag.Title = "饭店";
}
@section SearchCondition
{
    <tr>
        <th>污染源名称</th>
        <td>
            <input type="text" name="Name" class="txt" />
        </td>
        <th>污染源地址</th>
        <td>
            <input type="text" name="Other" class="txt"/>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn-search tooltip" value="查询" />
        </td>
        <td>

            <a href="javascript:showDataFormModalDialog('/BasicDataArea/FanDian/FormForAdd','添加饭店')">添加饭店</a> |
            <a _href="~/FanDian/ExcelOutputs" onclick="excelOutput(this)" style="cursor: pointer;">Excel导出</a>
        </td>
    </tr>
}
<script type="text/javascript">
    //
    function excelOutput(obj) {
         var href = $(obj).attr('_href');
         window.location.href = href;
    }
</script>
